<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Réservez votre chambre d’hôtel en ligne facilement et rapidement. Découvrez nos hébergements, comparez les prix et profitez d’un séjour inoubliable. Projet de fin d’études avec base de données simulée.">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/public/js/main.js" defer></script>   
  </head>
  <body>
    <header>
      <!-- Barre supérieure avec logo et navigation -->
      <div class="top-bar">
        <div class="container top-bar-inner">
          <div>
            <img src="/img/Logo_Planet_Hotel-02s.png" alt="Logo"  class="main-logo">
          </div>
          
          <div class="nav-right">
            <button id="btn-dyslexic" class="btn-accessibility" aria-pressed="false">
              <span class="btn-text-full">Activer la police adaptée</span>
              <span class="btn-text-short">Dyslexie</span>
            </button>

            <% if (user && user.role === 'administrateur') { %>
              <a href="/logout" class="btn-primary desktop-only">Déconnexion</a>            
            <% } else if (user) { %>      
              <a href="/logout" class="btn-primary desktop-only">Déconnexion</a>
            <% } else { %>
              <a href="/login" class="btn-primary desktop-only">Connexion</a>
            <% } %>

            <button id="burger-btn" class="burger-menu" aria-label="Ouvrir le menu">
              <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" class="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <!-- Menu de navigation mobile -->
      <nav id="mobile-menu" class="bottom-nav">
        <div class="container bottom-nav-inner">
          <a href="/">Accueil</a>
          <% if (user && user.role === 'administrateur') { %>
            <a href="/admin/dashboard">Admin</a>
            <a href="/profile">Profile</a>
          <% } else if (user) { %>
            <a href="/profile">Profile</a>
            <a href="/contact">Contact</a>        
          <% } else { %>
            <a href="/contact">Contact</a>
            <a href="/register">Inscription</a>
          <% } %>

          <hr class="mobile-separator">
          <% if (user && user.role === 'administrateur') { %>
            <a href="/logout" class="btn-primary mobile-auth-btn">Déconnexion</a>
          <% } else if (user) { %>
            <a href="/logout" class="btn-primary mobile-auth-btn">Déconnexion</a>
          <% } else { %>
            <a href="/login" class="btn-primary mobile-auth-btn">Connexion</a>
          <% } %>
        </div>
      </nav>
    </header>