<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="../css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">   
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <h2><%= subtitle %></h2>
      <nav>
        <a href="/">Acceuil</a>
        <% if (user) { %>
        <a href="/profile">Profil (<%= user.role %>)</a>
        <a href="/contact">Contact</a>
        <a href="/logout">Déconnexion</a>
        <% } else { %>
        <a href="/contact">Contact</a>
        <a href="/register">Inscription</a>
        <a href="/login">Connexion</a>
        <% } %>
      </nav>
    </header>
