<%- include('partials/header.ejs') %>

<div style="text-align: center; margin-top: 50px;">
    <h1>Paiement annulé, vous n'avez pas été débité</h1>
    <a href="/profile">Voir mon profil</a>
</div>

<%- include('partials/footer.ejs') %>