body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding-bottom: 120px;
  color: #333;
}

header {
  background-color: #4f6068;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav {
  background-color: #293236;
  padding: 0.5rem;
}

nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 1rem;
}

section {
  margin-bottom: 1rem;
}

form {
  padding: 20px 70px 40px 50px;
  max-width: 500px;
  background-color: #dbe2ec;
  /* min-height: 1000px; */
  margin: 0 auto;
}

.form_none {
  padding: 0;
  margin: 0 auto;
  background-color: #ffffff;
}

/* Règle générale pour les labels (sauf checkbox) */
form label:not(:has(input[type="checkbox"])) {
  display: block;
  margin-top: 1rem;
}

/* Règle spécifique pour le label de la checkbox */
form label:has(input[type="checkbox"]) {
  display: inline-flex;
  align-items: center;
  margin-top: 1rem;
  white-space: nowrap;
}

/* Largeur des inputs/textarea */
form input:not([type="checkbox"]),
form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
}

select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
}

form textarea {
  width: 100%;
  height: 5rem;
  padding: 0.5rem;
  margin-top: 0.25rem;
}

form button {
  background-color: #4f6068;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}

footer {
  background-color: #293236;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.responsive-img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 1rem auto;
}

th {
  background-color: #dbe2ec;
  padding: 0.3rem;
}

.statut-confirmee {
    color: green;
    font-weight: bold;
}
.statut-annulee { /* Si vous en avez plus tard */
    color: red;
}
.statut-en-attente {
    color: orange;
}
